
<h1>Edit your info employeer</h1>


<%= form_for @employee do |f| %>

	<!-- Displays the errors  -->
  <%= render 'shared/error_messages', object: f.object %>

  <div class="col-md-12">
  	<div class="col-md-2"><%= f.label :name %></div>
  	<div class="col-md-5 col-md-offset-1"><%= f.text_field :name,  class: 'form-control'%></div>
  </div>

  <div class="col-md-12">
  	<div class="col-md-2"><%= f.label :surname %></div>
  	<div class="col-md-5 col-md-offset-1"><%= f.text_field :surname,  class: 'form-control'%></div>
  </div>
  <div class="col-md-12">
	  <div class="col-md-3"><%= f.label :birth_date %></div>
	  <div class="col-md-3"><%= select_tag(:birth_date_day, options_for_select(@days, @employee.birth_date.day), class: 'form-control') %></div>
	  <div class="col-md-3"><%= select_tag(:birth_date_month, options_for_select(@months, @employee.birth_date.month), class: 'form-control') %></div>
	  <div class="col-md-3"><%= select_tag(:birth_date_year, options_for_select(@years, @employee.birth_date.year), class: 'form-control') %></div>  		
  </div>  		 

  <div class="col-md-12">
	  <div class="col-md-3"><%= f.label :hired_date %></div>
	  <div class="col-md-3"><%= f.text_field :hired_date,  class: 'form-control datetimepicker'%></div>
  </div>

  <div class="col-md-12">
	  <div class="col-md-2"><%= f.label :username %></div>
	  <div class="col-md-5 col-md-offset-1"><%= f.text_field :username, class: 'form-control' %></div>
  </div>

  <div class="col-md-12">
	  <div class="col-md-2"><%= f.label :password %></div>
	  <div class="col-md-5 col-md-offset-1"><%= f.text_field :password, class: 'form-control' %></div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2"><%= f.label :password_confirmation %></div>
    <div class="col-md-5 col-md-offset-1"><%= f.text_field :password_confirmation, class: 'form-control' %></div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2"><%= f.label :email %></div>
    <div class="col-md-5 col-md-offset-1"><%= f.text_field :email, class: 'form-control' %></div>
  </div>

  <div class="col-md-12">
  	<div class="col-md-2"><%= f.label :position_id %></div>
  	<div class="col-md-5 col-md-offset-1">
  		<%= select_tag(:position_id, options_for_select(@positions, @employee.position_id), class: 'form-control') %>
  	</div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2"><%= f.label :picture %></div>
    <div class="col-md-5 col-md-offset-1"><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></div>
  </div>

  <%= f.submit "Update my account", class: "btn btn-primary create-employee-btn" %>
  
<% end %>